.logo{
  width: 7%;
  height: auto;
  margin: 4px 15px 6px 4px;
}
@media only screen and (max-width: 1700px) {
  .logo {
    width: 100px;
  }
}
.container-fluid{
  margin-top: -8px;
  background-color: #5bd45d;
}
.cart{
  width: 30px;
  height: 20px;
  margin: 0px 10px 0px 15px;
}
#welcome{
  margin-left: 15px;
}
.form-control:focus {
  border-color: #6fbf8e !important;
  box-shadow: 0 0 10px #1c6e15 !important;
}
.btn{
  color: #000000;
  border-color: #000000;
  
}